
$dark_blue : #205081;
$grey: #c8c8c8;

.form-signin {
  width: 50%;
  margin: auto;
  margin-top: 100px !important;
  box-shadow: 3px 3px 6px $grey, -1px -1px 2px $grey;
  padding: 20px;
}
.btn {
  width: auto;
  &.btn-primary {
    border-color: $dark_blue;
    background: $dark_blue;
  }
}

.navbar {
  background: $dark_blue;
  box-shadow: 0px 2px 4px $dark_blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-header {
  color: white;
}

.main-container {
  margin-top: 100px;
}

.container-detail {
  padding: 10px;
  box-shadow: 2px 2px 4px $grey;

  .title {
    background: $dark_blue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }
}

ux-dialog-body {
  .error {
    color: red;
  }

  .info {
    color: green;
  }
}

.criteria {
  margin: 20px 0px;
}
.form-group label {
  font-weight: bold;
}

.fa {
  font-size: 20px;
}

.footer-detail {
  padding: 10px;
  border-top: 1px solid $dark_blue;
  margin-top: 30px;

  a {
    display: table;
    text-decoration: none;

    :nth-child(n) {
      display: table-cell;
      vertical-align: middle;
      &.fa {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari 3-8 */
        transform: rotate(180deg);
      }
      &.text {
        padding-left: 10px;
        font-size: 18px;
      }
    }
  }
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; 
}

input:checked + .slider {
  background-color: $dark_blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dark_blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  display: table;
}
.switch-container .child {
  display: table-cell;
  height: 34px;
  line-height: 34px;
}
.switch-container span.child {
  padding-left: 10px;
}
/* end switch */
